body {
    background-image: url('../images/ai-generated-8363802_1920.png');
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Style for the form container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.banner {
    display: flex;
    width: 100%;
    height: 15%;
}

.banner-img {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('../images/african-pattern-7419841_1280.png');
    filter: blur(1px);
    -webkit-filter: blur(1px);
    position: relative;
    flex: none;
}

.banner-title {
    display: flex;
    margin-bottom: auto;
    color: white;
    justify-content: center;
    font-family: cursive;
    font-size: 40px;
    font-weight: 800;
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p, h3 {
    color: white;
    font-weight: 600;
}

p {
    background-color: black;
    padding: 10px;
}


.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: whitesmoke;
}

/* Style for labels */
label {
    font-weight: bold;
    color: whitesmoke;
}

.gender-selector {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

/* Style for input fields */
input[type="date"] {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

input[type="radio"] {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

/* Style for submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
